.wrapper {
 display: flex; 
 flex-flow: row wrap;
 text-align: center;
 font-weight: bold;
}
.wrapper > * {
 padding: 10px;
 flex: 1 100%;
 margin: 10px;
 border-radius: 12px;
}
.header {
 display:flex;	
 justify-content: center;
 background: red;
 height: 120px;

}
.footer {
	display:flex;	
 justify-content: center;
	background: 	red;
	height: 80px:
}
.main {
	display:flex;	
 justify-content: center;
 text-align: left;
 background: gold;
 height: 300px;
 font-size: 18px;
}
.asideLeft {
display:flex;	
flex-direction: row;
justify-content: center;
 text-align: left;
 background: red;
}
.asideRight {
display:flex;	
 justify-content: center;
  text-align: left;
 background: gold;
 }
.navigation { 
 list-style: none; 
 margin: 0;
 background: black; 
 display: flex;
 flex-flow: row wrap;
 justify-content: flex-end;
}
.navigation a { 
 text-decoration: none; 
 display: block; 
 padding: 1em;
 color: white;
}